body {
    font-weight: bold;
    text-align: center;
}
* {
    box-sizing: border-box;
}


#article,
#aside,
#footer,
#header,
#nav {
    padding: 20px;
}

#header {
    background-color: #a56cc1;
}

#nav {
    background: #a6acec;
}

#article {
    text-align: left;
    background: #ace7ef;
}

#aside {
    background-color: #cefff1;
}


#footer {
    background: #ecfffb;
}

span{
    font-weight: bold;
    font-style: italic;
    color: #a56cc1;
    font-size: 30px;
}

#menu:hover {
    color: #ffcef3;
}

#videolink {
    padding: 10px;
    border-radius: 25px;
    background-color: #cabbe9;
    color: white;
}

img {
    display:block ;
    width:200px;
    margin: auto;
}

h2 {
    font-style: italic;
    color: #a56cc1;
}

/* menü */
#nav {
    display: flex;
}

    #nav a {
        /* ugyanaz, mint flex-grow:1; flex-shrink:1;flex-basis:auto;*/
        flex: 1 1 auto;
        text-decoration: none;
        color: black;
    }

/* 800px-nél nagyobb képernyő*/
@media screen and (min-width: 800px) {
    body {
        display: flex;
        flex-direction: column;
        max-width: 1500px;
        margin: auto;
    }

    #main {
        display: flex;
        /*flex-wrap: wrap;*/
    }

    #nav,
    #header {
        order: -1;
    }

    #article {
        flex: 1 1 75%;
    }

    #aside {
        flex: 1 1 25%;
    }
}
