body {
    font-weight: bold;
    text-align: center;
}
* {
    box-sizing: border-box;
}


#article,
#aside,
#footer,
#header,
#nav {
    padding: 20px;
}

#header {
    background-color: tomato;
}

#nav {
    background: deepskyblue;
}

#article {
    text-align: left;
    background: gold;
}

#aside {
    background-color: lightgreen;
}

#footer {
    background: hotpink;
}

/* menü */
#nav {
    display: flex;
}

    #nav a {
        /* ugyanaz, mint flex-grow:1; flex-shrink:1;flex-basis:auto;*/
        flex: 1 1 auto;
        text-decoration: none;
        color: black;
    }

/* 800px-nél nagyobb képernyő*/
@media screen and (min-width: 800px) {
    body {
        display: flex;
        flex-direction: column;
        max-width: 1500px;
        margin: auto;
    }

    #main {
        display: flex;
        flex-wrap: wrap;
    }

    #nav,
    #header {
        order: -1;
    }

    #article {
        flex: 1 1 75%;
    }

    #aside {
        flex: 1 1 25%;
    }
}
