html, body {
    height: 100%;
}

div {
    margin: 10px;
    border: 3px solid #071a52;
    background-color: #086972;
}

#külső {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#kérdés_szöveg {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    background-color: #17b978;
}

#középső {
    display: flex;
    flex-direction: row;
    flex-grow: 1 ;
    
}

#kép {
    overflow: hidden;
    flex-grow: 0;
    flex-shrink: 0;
    background-color: #17b978;
}

#válaszok {
    flex-grow: 1;
    flex-shrink: 1;
    background-color: #17b978;
}

#vezérlő {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #17b978;
}

.gomb {
    padding: 20px;
    width: 80px;
    cursor: pointer;
    background-color: #a7ff83;
}

    .gomb:hover {
        background-color: fuchsia;
        color: white;
    }




.kattintható:hover {
    background-color: blueviolet;
    color: white;
    cursor: pointer;
}

.kerdes {
    padding: 10px;
    border-radius: 10px;
}

.jó {
    background-color: forestgreen;
    color: white;
}

.rossz {
    background-color: red;
    color: white;
}
